@import '../css/module.scss';

@-webkit-keyframes FadeInOut {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes FadeInOut {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

.listWrapper {
  margin: 70px auto 0;
  width: 100%;

  .listTitle {
    font-size: 1.6em;
    font-weight: 700;
    color: #666;
    letter-spacing: -0.015;
    margin-bottom: 5px;
  }

  .listBody {
    margin-bottom: 25px;
    height: 15px;
    color: #999;
  }

  .roomInfoWrapper {
    margin: 10px -7.5px 20px -7.5px;
    width: calc(100% + 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-animation: FadeInOut 1s ease-in-out alternate infinite;
    animation: FadeInOut 1s ease-in-out alternate infinite;

    .roomInfo {
      width: calc(25% - 15px);
      margin: 0 7.5px 20px 7.5px;

      @include tablet {
        width: calc(50% - 15px);
        margin: 0 7.5px 40px 7.5px;
      }

      @include mobile {
        width: calc(100%);
        margin: 0 7.5px 40px 7.5px;
      }

      .roomImg {
        width: 100%;
        background-color: #aaa;
        margin-bottom: 10px;
        padding-bottom: 66%;
      }

      .roomLocation {
        width: 35%;
        height: 10px;
        background-color: #aaa;
      }

      .roomTitle {
        width: 70%;
        height: 10px;
        background-color: #aaa;
        margin-top: 10px;
      }

      .roomPrice {
        width: 20%;
        height: 10px;
        background-color: #aaa;
        margin-top: 10px;
      }
    }
    .roomInfo.roomDetailInfo {
      width: calc(20% - 15px);

      @include tablet {
        width: calc(50% - 15px);
        margin: 0 7.5px 40px 7.5px;
      }

      @include mobile {
        width: calc(100%);
        margin: 0 7.5px 40px 7.5px;
      }
    }
  }

  .starWrapper {
    margin: 5px 0 10px;

    .star {
      display: inline;
      width: 10px;
      fill: rgba(166, 29, 85, 0.77);
    }
  }
}
