.infoMarker span {
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.infoMarker::after {
  width: 10px;
  height: 10px;
  background-color: #fff;
  content: '';
  display: block;
  position: relative;
  top: 0.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
