@import '../css/module.scss';
//전체 레이아웃
.guestInfoContainer {
  display: inline-block;
  width: 66%;
  @include mobile {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
  }
  @include tablet {
    width: 50%;
  }
}
.guestTitle {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 20px;
}
.subTitle {
  margin: 20px 0;
}
.guestOption {
  width: 50%;
  @include mobile {
    width: 100%;
  }
}
.greeting {
  margin: 10px 0;
}

.textArea {
  width: 80%;
  margin: 20px 0;
  display: block;
  outline: 0;
  @include mobile {
    width: 100%;
  }
}
//버튼
.continueBtn {
  width: 120px;
  height: 50px;
  background-color: #008489;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 20px;
  outline: 0;
  @include mobile {
    width: 80px;
    margin-top: 0;
  }
}
.continueBtnWrapper {
  border: 1px solid #f2f2f2;
  position: absolute;
  right: 0;
  left: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.continueBtnWrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.continueBtnWrapper ul li {
  padding-right: 10px;
}
.more2 {
  border: none;
  padding: 0;
  background: transparent;
  color: #008489;
  outline: 0;
}
.roomInfoViewWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}
