@import '../css/module.scss';

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: relative;

  @include tablet {
    z-index: 103;
    background-color: #fff;
  }

  @include mobile {
    z-index: 103;
    background-color: #fff;
  }
}
.logo {
  fill: rgb(255, 90, 95);
  position: absolute;
  top: 16px;
  left: 17px;
  width: 48px;
  height: 48px;
  z-index: 100;
  cursor: pointer;
}

.arrowDown {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 65px;
  z-index: 101;
  fill: #999;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: #ebebeb 1px solid;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 48px;
  margin-left: 80px;

  @include tablet {
    margin-left: 90px;
  }

  @include mobile {
    margin-left: 90px;
  }
}

.magnifying {
  margin-left: 20px;
}

.search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  padding-left: 15px;
  width: 100%;
  line-height: 40px;
  outline: 0;
  font-weight: 700;
  font-size: 16px;
  color: #454545;
}

.navbar {
  font-size: 0;
  position: absolute;
  top: 30px;
  right: 25px;

  @include tablet {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 102;
    padding: 10px 30px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  @include mobile {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 102;
    padding: 20px 10px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    // width: calc(100% - 100px);
  }

  &.activeNav {
    @include tablet {
      display: block;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    @include mobile {
      display: block;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .home,
  .conversation,
  .hart,
  .carrier,
  .person {
    display: none;

    @include tablet {
      display: inline-block;
      width: 35px;
      height: 30px;
      float: right;
      position: relative;
      // top: 5px;
      fill: #666;
    }

    @include mobile {
      display: inline-block;
      width: 20px;
      height: 20px;
      float: right;
      position: relative;
      top: 5px;
      fill: #666;
    }
  }
}

.toHomeMobile,
.navbar_login,
.navbar_helpdesk,
.saved,
.savedRsvn {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 20px;
  padding: 2px 6px 3px;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  border: 0;
  cursor: pointer;
  position: relative;
  background-color: transparent;

  @include tablet {
    display: block;
    padding: 15px 0;
    font-size: 20px;
    color: #666;
    margin: 0 20px;
  }
  @include mobile {
    display: block;
    padding: 15px 0;
    font-size: 16px;
    color: #666;
    margin: 0 20px;
  }
}

.toHomeMobile {
  @include tablet {
    padding: 30px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  @include mobile {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
}

.navbar_login {
  @include tablet {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding: 30px 0;
  }
  @include mobile {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px 0;
  }
}

.savedModal {
  display: none;
}

.savedModal.view {
  display: block;
}
.icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
footer {
  border-top: 1px solid #f2f2f2;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  // margin-top: 40px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 10px 10px 10px;
  border-bottom: #f2f2f2 1px solid;
}
.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 10px 10px 50px;
}
.footerName {
  font-weight: 700;
}
.logo2 {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.copy {
  line-height: 25px;
}
