@import '../css/module.scss';

.rc-slider {
  width: 95%;
  margin: 30px auto 45px;
  -webkit-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  transform: translateX(-2px);
}

.rc-slider-track {
  background-color: $sub-color;
}

.rc-slider-dot {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid #ddd;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.rc-slider-dot.rc-slider-dot-active {
  border: 2px solid $sub-color;
}

.rc-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 0;
  top: 2px;
}

.rc-slider-handle:active {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rc-slider-handle-click-focused:focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
