@import '../css/module.scss';

//전체 컨테이너 레이아웃
.ruleContainer {
  width: 66%;
  display: inline-block;
  padding: 20px;
  @include mobile {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  @include tablet {
    width: 50%;
  }
}
.roomInfoViewWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}
.infoContainer {
  width: 34%;
  display: inline-block;
  vertical-align: top;
  @include mobile {
    z-index: 300;
    width: 100%;
    background-color: #554444;
  }
  @include tablet {
    width: 50%;
    position: relative;
  }
}
.infoBox {
  height: 100%;
  width: 100%;
  border: 1px solid #f2f2f2;
  padding: 20px;
  @include mobile {
    height: 100vh;
    border: none;
    overflow: scroll;
    background-color: #ffffff;
  }
}
//숙소규칙 컨텐츠
.ruleTitle {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 20px;
}
.dates {
  margin-top: 40px;
}
.date {
  width: 50%;
  display: inline-block;
  @include mobile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.checkDate {
  font-size: 1.5rem;
  font-weight: 700;
}
.exactDate {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  border-radius: 5px;
  margin-right: 20px;
  padding: 10px;
}
.exactDate p {
  // border: 1px solid red;
  line-height: 15px;
}
.checkout,
.checkin {
  display: inline-block;
  line-height: 25px;
}
//셀프체크인
.selfCheckin {
  margin-top: 20px;
}
.selfIcon {
  height: 24px;
  width: 24px;
  display: inline-block;
  fill: rgb(255, 180, 0);
}
.self {
  display: inline-block;
}
.devider {
  border: 1px solid #f2f2f2;
  margin: 20px 0;
}
//주의사항
.noticeList {
  margin-top: 40px;
}
.noticeIcon {
  width: 50px;
  height: 50px;
  border: solid #f2f2f2 1px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  padding: 13px;
}
.noticeText {
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
}
.morebtn {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  display: flex;
  padding: 0;
}
.more {
  color: #008489;
  @include mobile {
    margin-bottom: 30px;
  }
}
.arrowDown {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
  fill: #008489;
}
//옵션
.optionTitle {
  margin-top: 60px;
  @include mobile {
    display: none;
  }
}
.optionItem {
  padding-top: 20px;
  display: flex;
  @include mobile {
    display: none;
  }
}
.optionText {
  width: 70%;
}
.select {
  width: 20px;
  height: 20px;
  margin: 10px 20px 0 0;
  background: #ffffff;
}
//동의 버튼
.continueBtn {
  width: 180px;
  height: 50px;
  background-color: #008489;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 80px;
  @include mobile {
    width: 80px;
    margin-top: 0;
  }
}
.continueBtnWrapper {
  border: 1px solid #f2f2f2;
  position: absolute;
  right: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.continueBtnWrapper ul {
  display: flex;
  justify-content: space-between;
}
.continueBtnWrapper ul li {
  padding-right: 10px;
}
.more2 {
  border: none;
  padding: 0;
  background: transparent;
  color: #008489;
}
// 숙소 정보
.mainInfo {
  display: flex;
  // border: 1px solid blue;
  @include tablet {
    display: block;
  }
}
.textInfo {
  width: 70%;
  @include mobile {
    width: 50%;
  }
  @include tablet {
    margin-top: 25%;
  }
}
.mainImgWrapper {
  width: 30%;
  // border: 1px solid blue;
  @include mobile {
    width: 50%;
  }
  @include tablet {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
.mainImg {
  width: 100%;
}
.starBox {
  display: flex;
  // border: 1px solid blue;
}
.star {
  fill: #008489;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.guestInfo {
  display: flex;
  margin-bottom: 10px;
}
.guest {
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  margin-bottom: 10px;
}
.iconWrapper {
  display: inline-block;
  margin-right: 10px;
}
.calender {
  height: 20px;
  width: 20px;
  display: block;
  fill: currentColor;
}
.dateInfo {
  display: flex;
}
.checkIn,
.checkOut {
  width: 150px;
  line-height: 2rem;
  margin-right: 10px;
}
.priceInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.questionMark {
  height: 16px;
  width: 16px;
  display: block;
  fill: rgb(72, 72, 72);
  // border: 1px solid red;
  // margin: auto 0;
}
.roomPrice {
  // border: 1px solid blue;
  line-height: 16px;
}
.serviceWrapper {
  display: flex;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
}
.subWrapper {
  font-size: 1.6rem;
}
.roomType {
  margin-bottom: 20px;
}
.questionIcon {
  margin-left: 5px;
}
//아이콘
.icon {
  height: 24px;
  width: 24px;
  display: block;
  fill: rgb(217, 57, 0);
}
.noticeItem {
  margin: 10px;
}
.crossBtn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: #f2f2f2 1px solid;
  border-radius: 50%;
}
.cross {
  width: 100%;
  height: 100%;
  fill: #aaaaaa;
}
