@import '../css/module.scss';

.saveButton {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: none;

  @include mobile {
    padding: 0;
    background-color: transparent;
  }
}
.saveIcon,
.saveBody {
  display: inline-block;
  vertical-align: middle;
}
.saveBody {
  @include mobile {
    display: none;
  }
}

.saveIcon {
  width: 16px;
  position: relative;
  top: -1px;
  fill: #fff;
  stroke: #444;
  @include mobile {
    width: 25px;
    stroke: #fff;
    fill: transparent;
  }
}

.saveIcon.savedIcon {
  fill: #ff5a5f;
  stroke: none;

  @include mobile {
    stroke: #fff;
  }
}
.saveBody {
  margin-left: 10px;
  color: #666;
  font-size: 1.35rem;
  letter-spacing: -0.05;
}
