@import '../css/module.scss';

// 전체 컨테이너
.savedModalContainer {
  position: absolute;
  z-index: 11;
  width: 356px;
  top: 50px;
  right: 0;

  // 목록, 목록 더 보기 박스
  .titleContainer {
    width: 100%;
    padding: 15px 30px;
    background-color: #eee;
  }

  // 목록, 목록 더 보기 아이템
  .title,
  .linkToList {
    display: inline-block;
    line-height: 20px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  // 목록 더 보기
  .linkToList {
    float: right;
  }

  .savedList {
    width: 100%;

    .savedItem {
      padding: 15px 30px 10px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      position: relative;

      .linkBody {
        .itemTitle,
        .itemCity,
        .itemPrice {
          display: block;
          margin-bottom: 10px;
        }

        .itemTitle {
          color: $sub-color;
          width: 180px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .itemCity,
        .itemPrice {
          color: #777;
        }

        .itemImage {
          position: absolute;
          width: 80px;
          height: 80px;
          top: 15px;
          right: 30px;
        }
      }
    }

    .savedItem:last-child {
      padding: 10px 30px;
      text-align: right;
      font-size: 13px;
    }
  }
}

.background {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  // visibility: none;
}
