@import '../css/module.scss';

.container {
  width: 1032px;
  margin: 25px auto;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  .heading {
    font-size: 30px;
  }

  .savedContainer {
    margin-top: 70px;

    .savedHeading,
    .savedNumber {
      font-size: 16px;
    }

    .savedHeading {
      display: inline-block;
    }

    .savedNumber {
      float: right;
    }

    .savedList {
      width: calc(100% + 10px);
      margin: 15px -5px 15px -5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .item {
        width: calc(33.3% - 10px);
        margin: 10px 5px 0 5px;
        position: relative;

        @include tablet {
          width: calc(50% - 10px);
        }

        @include mobile {
          width: calc(100% + 10px);
          margin: 20px 5px 0;
        }

        .itemContainer {
          padding-bottom: 60%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: #666;
        }

        .itemTitle {
          position: absolute;
          bottom: 15px;
          left: 15px;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }
}
