@import '../css/module.scss';

.savedAlert {
  position: fixed;
  bottom: -60px;
  left: 30px;
  background-color: #fff;
  z-index: 10;
  padding: 15px 25px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  transition: all 0.5s ease-in-out;

  .body {
  }

  .linkToList {
    position: absolute;
    right: 50px;
    color: $sub-color;
  }

  .close {
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    right: 25px;
    cursor: pointer;
  }
}

.savedAlert.alert {
  bottom: 30px;
}
