.filterNav {
  width: calc(100% + 160px);
  margin: -30px -80px 0;
  padding: 5px 80px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  background-color: #fff;

  li {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 12px;
    font-weight: 400;
  }
  .date {
    margin-right: 10px;
    border: 0;
    padding: 5px 0;
  }
}
