$main-color: #fc5c63;
$sub-color: #008489;

@mixin desktop {
  @media screen and (min-width: 1129px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 761px) and (max-width: 1128px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 760px) {
    @content;
  }
}

.mainSection {
  padding: 30px 80px;

  @include tablet {
    padding: 30px 50px;
  }

  @include mobile {
    padding: 30px 30px;
  }
}
